body {
    background: #fff;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
    max-width: 35em;
    margin: auto;
    padding: 25px 10px 0px;
  }
  
img {
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

a {
    color: #0a84ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .fab,
  .far {
    font-size: 25px;
    margin: 0 10px 0 0;
    color: #ffffff;
    text-decoration: none;
    padding: 9px;
    border-radius: 100%;
    background: #ffffff;
    width: 25px;
    height: 25px;
    text-align: center;
  }
  
  .fab:hover,
  .far:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  
  .fa-instagram {
    background-color: #e1306c;
  }
  
  .fa-strava {
    background-color: #fc4c02;
  }

  .fa-envelope {
    background-color: #000;
    color: #fff;
  }

@media (prefers-color-scheme: dark) {
    body {
      background: #000;
      color: #fff;
    }
    a {
      color: #0A84FF;
    }
  }